<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>Path</key>
			<string>map01.tmx</string>
			<key>Type</key>
			<string>TMX</string>
			<key>Sub</key>
			<array/>
		</dict>
		<dict>
			<key>Path</key>
			<string>png</string>
			<key>Type</key>
			<string>DIR</string>
			<key>Sub</key>
			<array>
				<dict>
					<key>Path</key>
					<string>unit</string>
					<key>Type</key>
					<string>DIR</string>
					<key>Sub</key>
					<array>
						<dict>
							<key>Path</key>
							<string>bee.png</string>
							<key>Type</key>
							<string>PNG</string>
							<key>Sub</key>
							<array/>
						</dict>
						<dict>
							<key>Path</key>
							<string>effect</string>
							<key>Type</key>
							<string>DIR</string>
							<key>Sub</key>
							<array>
								<dict>
									<key>Path</key>
									<string>bee_effect.png</string>
									<key>Type</key>
									<string>PNG</string>
									<key>Sub</key>
									<array/>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>png.png</string>
			<key>Type</key>
			<string>PNG</string>
			<key>Sub</key>
			<array/>
		</dict>
		<dict>
			<key>Path</key>
			<string>folder.png</string>
			<key>Type</key>
			<string>PNG</string>
			<key>Sub</key>
			<array/>
		</dict>
		<dict>
			<key>Path</key>
			<string>file.png</string>
			<key>Type</key>
			<string>PNG</string>
			<key>Sub</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
